* {
    margin: 0;
    padding: 0;
}
body{
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    background-color: black;
}
h1{
    margin-bottom: 100px;
    justify-content:flex-start;
    font-family: JetBrains Mono;
    color: limegreen;
}
button{
    justify-content: center;
    border:double;
    border-color: rgb(34, 255, 0);
    background-color: rgb(0, 0, 0);
    font-family: Cascadia Code;
    font-size: larger;
    color: limegreen; 
    margin-bottom: 50px;
}
#conteudo{
    text-align: center;
    margin-bottom: 200px;
    margin-top: 100px;
}
textarea, input{
    padding: 10px;
    height: 100px;
    width: 400px;
    border:double;
    border-color: rgb(34, 255, 0);
    background-color: rgb(0, 0, 0);
    display: block;
    font-family: Cascadia Code;
    font-size: larger;
    color: limegreen;
}
textarea::placeholder, input::placeholder{
    color: rgb(34, 255, 0);
}
#texto::-webkit-scrollbar {
    width: 4px;
}
#texto::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 10px;
}